@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, system-ui, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}